<div class="wthree-font-awesome">
	<div class="grid_3 grid_4 w3_agileits_icons_page">
		<div class="icons">
			<h2 class="w3ls_head">Estrategias Disponibles</h2>
			<section id="new">
				<h3 class="page-header page-header icon-subheading">Estrategias</h3>

				<div class="row fontawesome-icon-list">
					{{#each estrategias}}
					<div class="icon-box col-md-3 col-sm-4"><a href="#myModal" data-toggle="modal"
							class="btn btn-success"><i class="fa fa-asl-interpreting"
								aria-hidden="true"></i>{{nombre_estrategia}} <span class="text-muted">(alias)</span></a>
					</div>
					{{/each}}

				</div>

				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
					class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
								<h4 class="modal-title">{{nombre_estrategia}}</h4>
							</div>
							<div class="modal-body">

								<form role="form">

									<div class="panel-body">
										<div class="position-center">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="exampleInputEmail1"> {{actividad}} </label>

												</div>


											</form>
										</div>
									</div>

								</form>

								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">


										<button class="btn btn-secondary" type="button" data-dismiss="modal"
											onclick="cerrar()">Eliminar</button>
										<a class="btn btn-primary" href="#" id="actionForm"
											onclick="guardar()">Editar</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>