<div class="form-w3layouts">

    <div class="row">

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Agregar Preguntas
                </header>

                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="post" action="/preguntaDI" id="cargarPregunta">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre del test</label>
                            <div class="col-sm-6">

                                <select class="form-control form-control-lg" id="fk_test" name="fk_test">
                                    {{#each test}}
                                    <option value="{{id}}" onclick="GET" name="fk_test">{{nombre_test}}</option>
                                    {{/each}}
                                </select>


                            </div>
                        </div>


                        <div class="panel-body">
                            <div class="position-center">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Enunciado </label>
                                    <input type="text" class="form-control" id="enunciado" name="texto"
                                        placeholder="Enunciado">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">Imagen Enunciado</label>
                                    <input type="file" id="Pregunta" name="imagen_pregunta">

                                </div>


                                <div class="form-group">
                                    <label for="exampleInputFile">Tema </label>
                                    <select class="form-control form-control-lg" id="fk_tema" name="fk_tema">
                                        {{#each tema}}
                                        <option value="{{id}}" onclick="GET">{{nombre}}</option>
                                        {{/each}}
                                    </select>


                                </div>



                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-6">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    onclick="cerrar()">Cancelar</button>
                                <button class="btn btn-success" type="submit">
                                    Crear pregunta
                                </button>

                            </div>
                        </div>

                    </form>



                </div>

            </section>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {





    }

    );

    function traerPreguntas() {
        $('#preguntasDi').modal('show');
        const id = document.getElementById("mySelect").value;
        alert(id);


    }


</script>