<div class="form-w3layouts">

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Test Inglés
                </header>
                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="post" action="/testDI" id="cargarTestDI">
                       <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre del test</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="nombre_test" name= "nombre_test">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero de preguntas</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="numero" name="cant_preguntas_test">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tiempo del test</label>
                            <div class="col-sm-6">
                                <select class="form-control input-lg m-bot15" id="tiempo" name="tiempo_limite_test">
                                    <option>10 min</option>
                                    <option>15 min</option>
                                    <option>20 min</option>
                                    <option>25 min</option>
                                    <option>30 min</option>
                                    <option>35 min</option>
                                    <option>40 min</option>
                                </select>

                            </div>
                        </div>




                    </form>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">


                            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                onclick="cerrar()">Cancelar</button>
                             <button class="btn btn-primary" href="#" id="actionForm" type="submit">Guardar</button>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

