<div class="form-w3layouts">
    <!-- page start-->
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Test Didáctico
                </header>

                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="post" action="/testDI" id="cargarTestDI">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre del test</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="nombre_test" name="nombre_test">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero de preguntas</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="numero" name="cant_preguntas_test">
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">

                               <button class="btn btn-primary" href="#" id="actionForm" type="submit">Guardar</button>

                            </div>
                        </div>


            </section>

        </div>


        <!-- page end-->
    </div>

</div>


